.card {
  // width: 40%;
  // min-height: 300px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.card-min-height {
  min-height: 280px;
}

.card-saldo {
  margin-top: 3rem;
}
